* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--title);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content center;
  gap: 10px;
}

header img {
  width: 90px;
  height: 60px;
}

footer {
  display: flex;
  align-items: center;
}

footer img {
  width: 35px;
  height: 25px;
}
